Требования к делимому (ВЕЩЕСТВЕННОМУ числу)

1.	Знак перед числом ОБЯЗАТЕЛЕН. 
    (Если число ПОЛОЖИТЕЛЬНОЕ знак "+" перед ним тоже ОБЯЗАТЕЛЕН)
2.	После знака числа обязательно ставиться "." ("," НЕ допускается)
3.	Мантисса вещественного числа должна содержать не более 30 знаков
4.	Число может записываться в экспоненциальной форме, при этом допускается только заглавная «Е»
5.	Порядок не должен превышать 5 цифр.
6.  Знак порядка ОБЯЗАТЕЛЕН. (Если порядок ПОЛОЖИТЕЛЕН знак "+" перед ним тоже ОБЯЗАТЕЛЕН)
   